html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('map2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: white;
  font-family: monospace;
  margin-left: 3%;
}

#location {
  text-align: center;
  vertical-align:middle;
  font-size: 2em;
  font-family: monospace;
  margin: 5% 10% 3% 10%;
  color: white;
}

#button {
  width: 180px;
  font-size: 1.25em;
}
@media (max-width: 991px){
  #button {
    margin-top: 5%;
    margin-left: 50%;
    transform: translate(-90px, 0);
  }
}

#info {
  background: white;
  font-size: 1.25em;
  font-family: monospace;
  border: solid black 1px;
  border-radius: 5px;
  margin: 5% 0 5% 0;
}

@media (max-width: 991px) {
  #info {
    margin-right: 10%;
    margin-left: 10%;
  }
}

#info p {
  margin: 2% 0 2% 3%;
}

#map {
  height: 400px;
}

@media (max-width: 991px) {
  #map {
    height: 200px;
    margin: 0 10%;
  }
}